.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.board__item {
  flex: 0 0 300px;
  padding: 0.5rem;
}
